.btn-radio{
	text-align: center;
	font-size: 20px;
	margin: 10px;
}
input[type=radio]{
	transform: scale(1.5);
}
.instructions{
	text-align: center;
	font-size: 20px;
	font-style: italic;	
	margin: 20px;
    word-wrap: break-word;
}
.btn-icon.right{
	float: right;
}

@media (min-width: 767px) {
	.btn-icon{
		word-wrap: break-word;
		font-size: 1.2vw;
		color:grey;
		border-width: 1px;
		border-color: grey;
		margin: 40px;
	}
}
@media (max-width: 767px) {
	.btn-icon {
		word-wrap: break-word;
		font-size: 4vw;
		color:grey;
		border-width: 1px;
		border-color: grey;
		margin: 20px;
	}
}