.hauteur {
	border-style: dotted;
 	border-width: 0px 1px 0px 1px; 
	height:120px;
}

.inline-block {
	display: inline-block;
	float: none;
}

.repdetitions {
	float: right;
}

.formula {
	display: inline-block;
}