<div ng-controller="mainMenuCtrl">

	<div class="btn_row">
		<input type="button" value="Choix de l'avatar" ui-sref="avatar" class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4 bigButton"></input>
		<input type="button" value="Sortie de Corps" ui-sref="oob" class="col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 bigButton"></input>
		<input type="button" value="Exercice des portes" ui-sref="portes" class="col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-2 bigButton"></input>
	</div>

	<div class="exit_row">
		<input type="button" value="Fermer l'application" ng-click="exit()"></input>
	</div>

</div>