<!DOCTYPE html>
<html ng-app="menu">
<head>
	<meta charset="utf-8" />
	<title>Menu Web</title>
	<base href="/">
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="client/controllers/controllerMenuWeb.js"></script>
	<script src="client/controllers/controllerMainMenu.js"></script>
	<script src="client/controllers/controllerOob.js"></script>
	<script src="client/controllers/controllerOobRun.js"></script>
	<script src="client/controllers/controllerPortesRun.js"></script>
	<script src="client/controllers/controllerPortes.js"></script>
	<script src="client/controllers/controllerPortesConfig.js"></script>
	<link rel="stylesheet" type="text/css" href="client/styles/app.css">

</head >

<body >
	<header>
		<h1>Menu Web</h1>
	</header>
	<span>{{chemin}}</span>
	<div ui-view></div>
</body>
</html>