<!DOCTYPE html>
<html ng-app="menu">
<head>
	<meta charset="utf-8" />
		<!-- bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<title>Menu Web</title>
	<base href="/">
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="client/controllers/controllerMenuWeb.js"></script>
	<script src="client/controllers/controllerMainMenu.js"></script>
	<script src="client/controllers/controllerOob.js"></script>
	<script src="client/controllers/controllerOobRun.js"></script>
	<script src="client/controllers/controllerPortesRun.js"></script>
	<script src="client/controllers/controllerPortes.js"></script>
	<script src="client/controllers/controllerPortesConfig.js"></script>
	<script src="client/controllers/controllerAvatar.js"></script>
	<link rel="stylesheet" type="text/css" href="client/styles/app.css">

</head >

<body class="container">
	<header>
		<h1 class="col-md-12">Menu Web</h1>
	</header>
	<span>{{chemin}}</span>
	<div ui-view></div>
</body>
</html>