<!DOCTYPE html>
<section  ng-controller="PortesConfigCtrl">
	<input type="button" ng-click="previous()" value="Retour"></input>
	<form name="formulaire" ng-submit='executer_click()'>
		<div ng-show="hauteur">
			<input type="number" ng-pattern="/^[0-9]*$/" min="0" step="1" name="nbTailleH" ng-init="nbTailleH=0" ng-model="nbTailleH"/>
			<span>nombre de taillesH différentes</span>		
			<span ng-show="formulaire.nbTailleH.$error.pattern">Not a valid number</span>
			<br>
			<div ng-show="nbTailleH>1">
				<input type="number" ng-pattern="/^[0-9]*$/" min="0" step="1" name="diffTailleH" ng-init="diffTailleH=0" ng-model="diffTailleH"/>%
				<span>différence en largeur entre les taillesH</span>
			<span ng-show="formulaire.diffTailleH.$error.pattern">Not a valid number</span>
			</div>	
		</div>
		<div>
			<input type="number" ng-pattern="/^[0-9]*$/" min="0" step="1" name="nbTaille" ng-init="nbTaille=0" ng-model="nbTaille"/>
			<span>nombre de tailles différentes</span>	
			<span ng-show="formulaire.nbTaille.$error.pattern">Not a valid number</span>
			<br>
			<div ng-show="nbTaille>1">
				<input type="number" ng-pattern="/^[0-9]*$/" min="0" step="1" name="diffTaille" ng-init="diffTaille=0" ng-model="diffTaille"/>%
				<span>différence en largeur entre les tailles</span>
			<span ng-show="formulaire.diffTaille.$error.pattern">Not a valid number</span>
			</div>	
		</div>
		<div>
			<input type="number" ng-pattern="/^[0-9]*$/" min="0" step="1" name="nbRepet" ng-init="nbRepet=0" ng-model="nbRepet"/>
			<span>nombre de répétitions</span>
			<span ng-show="formulaire.nbRepet.$error.pattern">Not a valid number</span>
		</div>
		<div>
			<span>= {{nbEssai}} tests</span>
		</div>
		<div>
			<input type="submit" ng-disabled="formulaire.$invalid" value="Lancer l'exercice"/>
			<span>{{informationsDonnees}}</span>
		</div>
	</form>
</section>